App works
<div>
  <a routerLink="company" routerLinkActuve="active">Company</a><br>
  <a routerLink="person" routerLinkActuve="active">Person</a><br>
  <a routerLink="contactus" routerLinkActuve="active">contach us</a>
</div>

<!-- {{msg | welcome}} -->
<!-- <div [outerHTML]="msg | welcome"></div> -->
<div [innerHTML]="msg | welcome "></div>
<!-- <div [innerHTML]="para | welcome | limitwords"></div> -->
<div>{{para | limitwords }}</div>
<!-- <div>{{para | limitwords : 100 : '##'}}</div> -->
<router-outlet></router-outlet>


<app-templateform></app-templateform>
<app-reactiveform></app-reactiveform>